.body-main {
  margin-top: 18px;
}

.container {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

a, a:visited, a:active {
  color: #074966;
  font-weight: 400;
}

a.extra-info, a.extra-info:visited, a.extra-info:active {
  color: #333;
  font-weight: 400;
}
 
a.call-to-action, a.call-to-action:visited, a.call-to-action:active {
  color: #A22204;
  font-weight: 700;
}

a.explore-more, a.explore-more:visited, a.explore-more:active {
  color: #539403;
  font-weight: 700;
}

.navbar {
  font-family: "EB Garamond";
  font-weight: 400;
  font-size: 16px;

  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 400px;
  margin: 0px auto;
  padding: 20px 50px;

  border-bottom: 0.5px solid #aaa;
}

.navbar a {
  color: #000
}

.header .header-selfie {
  width: 80px;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
}

.hero-text {
  margin: 40px 0;
  text-align: center;
}

.construction-area {
  background: white;
  margin: 3% auto 6%;
  max-width: 400px;
  
  > h2 {
    padding: 10px;
    margin: 0 0 0.5rem 0;
  }
  
  > p {
    padding: 0;
  }
}

.construction-stripes {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    black 10px,
    black 20px
  );
}

.construction-text {
  text-align: center;
}

.content {
  width: 600px;
  margin: 0 auto;

  font-family: "EB Garamond";
  font-size: 18px;
  line-height: 24px;
}

.content h3 {
  font-size: 22px;
  font-family: "Open Sans";
  margin: 0;
}

.content h4 {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 300;
  margin-top: 8px;
}

.marquee-spam {
		/* color: #fff; */
		padding: 10px;
		display: inline-block;
		border-radius: 5px;
		animation: blinkingBackground 2s infinite;
}

.mb200 {
  margin-bottom: 200px;
}

@keyframes blinkingBackground{
  0%		{ color: #10c018;}
  25%		{ color: #1056c0;}
  50%		{ color: #ef0a1a;}
  75%		{ color: #254878;}
  100%	        { color: #04a1d5;}
}